@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,cyrillic-ext,greek,vietnamese,greek-ext,latin-ext,cyrillic);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

* {
  font-family: 'Noto Sans Japanese', 'Roboto', sans-serif;
  font-weight: 300;
}

@media screen and (max-width: 991px) {
  body {
    padding-top: 120px;
  }

  nav button {
    margin-top: 0;
  }
}

@media screen and (min-width: 992px) {
  body {
    padding-top: 90px;
  }

  nav button {
    margin-top: 24px;
  }
}

body {
  margin: 0px;
  background-color: white;
}

.color_selector {
  cursor: pointer;
  width: 40px;
  height: 25px;
  position: absolute;
}

div.checkerboard {
  background-image: url(../img/checkerboard.png);
}

nav button {
  margin: inherit 5px auto auto;
}
