@import "./silm_reset.css";

@media screen and (max-width: 991px) {
  body {
    padding-top: 120px;
  }

  nav button {
    margin-top: 0;
  }
}

@media screen and (min-width: 992px) {
  body {
    padding-top: 90px;
  }

  nav button {
    margin-top: 24px;
  }
}

body {
  margin: 0px;
  background-color: white;
  overflow: auto;
}

.color_selector {
  cursor: pointer;
  width: 40px;
  height: 25px;
  position: absolute;
}

div.checkerboard {
  background-image: url(../img/checkerboard.png);
}

nav button {
  margin: inherit 5px auto auto;
}
