body {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 10pt;
  overflow: hidden;
}

a {
  color: #665;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input[type='text'] {
  margin: 0;
  border-radius: .4em;
  background-color: #f2f2f2;
  border: .1em solid #999;
}

#absolute_container {
  position: absolute;
  z-index: 999999;
  left: 0;
  width: 100%;
  display: none;
}

#warning {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 4px;
  display: table;
  background-color: #e5effe;
  border: 2px solid #b4cff2;
  border-top: 0;
}

#warning_image {
  display: table-cell;
  vertical-align: middle;
  width: 32px;
}

#warning_content {
  margin-left: 5px;
}

#warning_dismiss {
  float: right;
  cursor: pointer;
  background-color: #f2f2f2;
  border: .1em solid #999;
  width: 20px;
  border-radius: 20px;
  text-align: center;
}

#workspace {
  margin: 0 4px 0 4px;
  min-width: 440px;
}

.header_link_left,
.header_link_right {
  display: flex;
  padding: 6px 0 2px;
}

.header_link_left {
  float: left;
}

.header_link_left > span,
.header_link_right > span {
  font-size: 1em;
  margin-right: .5em;
}

.header_link_right {
  float: right;
}

.header_link_right #view_twitter {
  width: 16px;
  height: 16px;
  margin: 0 2px;
}

.rotate_anime,
#loading,
#queue_loading {
  width: 16px;
  height: 16px;
  margin: 0 2px;
  display: none;
  animation: rotate 2s;
  animation-iteration-count: infinite;
  transform-origin: 6.6px 7.4px;
}
@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.timeline div.ui-resizable-se {
  bottom: -3px;
  right: -3px;
  width: 5px;
  height: 5px;
  background-image: none;
}

.inner_timeline {
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  position: relative;
}

/* #compose_tweet_area */

#shortener_area {
  margin: 0;
  padding: 0;
  margin-bottom: 2px;
}

#shortener_area input {
  width: 100%;
  z-index: 999;
}

#shortener_button {
  left: 50%;
  position: absolute;
  width: 100px;
  padding: 1px;
  margin-left: -51px;
  border-bottom-left-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  background-color: #e5effe;
  border: 1px solid #b4cff2;
  border-top: 0px;
  margin-top: -1px;
  text-align: center;
  cursor: pointer;
  display: none;
}

#shortener_button div:hover {
  background-color: #f0f5fb;
  border: 1px solid #c1cddc;
  border-top: 0px;
}

#tweetit {
  width: initial;
  max-width: 6em;
  margin: .2em 0 .4em;
  display: inline-flex;
  vertical-align: middle;
}

#upload_area {
  margin: 0;
  padding: 0;
  display: inline-flex;
}

#upload_selector {
  display: inherit;
  margin: 0;
  padding: .2em .4em;
  width: auto;
  height: initial;
  background-color: #e2e2e2;
}

#upload_preview {
  display: inherit;
  vertical-align: bottom;
}

#upload_preview img {
  width: 24px;
  height: 24px;
  border-radius: .4em;
  margin: 0 .4em;
}

#image_input {
  display: none;
}

#quote_tweet_url {
  display: none;
}

/* #compose_tweet_area */

/* #compose_tweet */

#tweet_text {
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  background-color: #f2f2f2;
  border: 1px solid #c1c1c1;
}

#chars_left {
  margin-top: 3px;
  float: right;
}

#compose_tweet {
  font-size: 9pt;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  color: #000000;
  background-color: #f2f2f2;
  border: 1px solid #b4b4b4;
  padding: 3px;
}

#compose_tweet:hover {
  background-color: #fbfbfb;
  border: 1px solid #c1c1c1;
}

#composeText {
  margin-left: 1em;
}

/* #compose_tweet */

/* #update_tweets */

#update_tweets {
  display: none;
  font-size: 9pt;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3px;
  cursor: pointer;
  clear: both;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #666;
}

#update_tweets:hover {
  background-color: #646464;
  color: white;
}

/* #update_tweets */

#tabs {
  clear: both;
}

#tabs .timeline_tab input.search_selector {
  width: 80px;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
}

#tabs .update_modifier {
  border: .1em solid red !important;
  border-bottom: none !important;
}

.tweet_space {
}

.tweet {
  margin: .2em .1em;
}

.tweet_overlay {
  border-radius: .4em;
  padding: 1px 0px 1px 3px;
  border: .2em solid #e5e5e5;
  background-color: #f2f2f2;
  display: flex;
  align-items: flex-start;
}

.first_container {
  display: flex;
  flex-direction: column;
  flex: 100;
}

.retweets_container {
  font-size: 8pt;
  color: #999;
  margin: 0;
  padding: .5em;
  border-bottom: .1em solid #e5e5e5;
  display: flex;
  order:  2;
}

.retweets_container > span {
  margin: 0 .5em 0 0;
  word-break: keep-all
}

.retweets_container > span > a {
  word-break: keep-all
}

.retweets_container > span.selfRetweet,
.retweets_container > span.inRetweet {
  flex: 100;
}

.retweets_container > span.inRetweet img {
  margin: .1em .5em -0.2em 0;
  vertical-align: sub;
}

.retweets_container > span.glyphicon {
  margin: .2em .5em -0.1em 0;
}

.retweets_container > span.action_cancel_retweet:hover {
  color: black;
}

.main_container {
  display: flex;
  flex-direction: row;
}

.icon_container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50%;
}

.ui-widget-content a {
  color: #888;
}

img.profile.retweeter {
  width: 1.5em;
  height: 1.5em;
}

img.profile.icon_small {
  width: 24px;
  height: 24px;
}

img.profile.icon_normal {
  width: 48px;
  height: 48px;
}

img.profile.icon_large {
  width: 73px;
  height: 73px;
}

img.profile.icon_max {
  width: 128px;
  height: 128px;
}

.content_container {
  display: flex;
  flex-direction: column;
  padding: 0 .5em;
}

.name_container {
  display: flex;
  flex-direction: row;
}

.name_container > span,
.name_container > div {
  margin-right: .5em;
}

.name_container > div.primary_name,
.name_container > div.primary_name a {
  font-weight: 500;
  font-size:  0.99em;
}

.name_container > div.secondary_name,
.name_container > div.secondary_name a {
  color: #999;
}

.name_container > span.verifiedAccount,
.name_container > span.protectedAccount {
  margin: .2em .5em 0 0;
}

.text_container {
  line-height: 1.4;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.text_container > span {
  display:  inline-block;
}

.footer_container {
  font-size: 8pt;
  margin-top: 4px;
  color: #999;
  display: flex;
}

.footer_container > span {
  margin: 0 .5em 0 0;
  word-break: keep-all
}

.footer_container > span > a {
  word-break: keep-all;
  color: #999;
}

.footer_container > span > span.glyphicon {
  margin: auto .4em -0.2em auto;
}

.new_actions {
  margin: 0;
  padding: 0;
  width: 12px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  flex-shrink: 1;
  align-items: flex-start;
  position:  absolute;
  right:  5px;
}

.tweet .new_actions > .new_actions_item {
  margin: 4px;
  padding: 0;
  font-size: 12px;
  cursor: pointer;
  display: none;
}

.tweet .new_actions > span.glyphicon-heart {
  display: inline-block;
}

div.reply_separator {
  position: absolute;
  left: 50%;
  right: 50%;
  margin-top: -13px;
  margin-left: 13px; /* Half of the padding used for the actions */
  border: solid .2em #999;
  border-radius: 20px;
  padding: 0;
  background-color: white;
  color: #999;
  font-weight: 600;
  cursor: pointer;
  width: 20px;
  height: 20px;
  text-align: center;
  z-index: 99999;
}

div.worklist_container {
  margin: 0;
  padding: 0;
  text-align: left;
}

div.worklist_container .title {
  color: #aaa;
}

div.worklist_container img {
  margin-left: 5px;
  vertical-align: bottom;
  width: 10px;
  height: 10px;
  opacity: 0.5;
  cursor: pointer;
}

div.worklist_container img:hover {
  opacity: 1;
}

ul.worklist {
  padding: 0;
  margin: 0;
  padding-left: 5px;
  text-align: left;
  list-style-type: none;
  display: block;
}

ul.worklist li {
  padding: 0;
  margin: 0;
  display: block;
}

/* override jQuery UI Structre*/

.ui-tabs .ui-tabs-panel {
  padding: 0;
}

.ui-tabs .ui-tabs-nav {
  padding: .1em 0 0;
}

.ui-tabs .ui-tabs-nav > li {
  min-width: 6em;
  margin: 1px 0 0;
  text-align: center;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  padding: .2em .3em .1em;
  float: initial;
  display: block;
}

/* override jQuery UI Tooltip */

.ui-tooltip {
  background-color: black;
  margin: 0;
  padding: 0;
}

.ui-tooltip .ui-tooltip-content{
  color: white;
  background-color: black;
  margin: 0;
  padding: 5px;
  min-width: 50px;
  max-width: 300px;
  min-height: 1em;
  max-height: 300px;
  word-break: break-all;
}

.ui-tooltip img,
.ui-tooltip video{
  max-width: 200px;
  max-height: 200px;
  border-radius: .8em;
}

/* override jQuery UI Dialog */
.ui-dialog .ui-dialog-titlebar-close {
  display: none;
}

/* copy from Bootstrap */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('./bootstrap/fonts/glyphicons-halflings-regular.woff2') format('woff2');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings' !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-plus:before {
  content: "\2b";
}
.glyphicon-minus:before {
  content: "\2212";
}
.glyphicon-envelope:before {
  content: "\2709";
}
.glyphicon-search:before {
  content: "\e003";
}
.glyphicon-heart:before {
  content: "\e005";
  color: #E81C4F;
}
.glyphicon-heart-empty:before {
  content: "\e143";
  color: black;
}
.glyphicon-heart-empty:hover:before {
  color: #E81C4F;
}
.glyphicon-ok:before {
  content: "\e013";
}
.glyphicon-remove:before {
  content: "\e014";
}
.glyphicon-cog:before {
  content: "\e019";
}
.glyphicon-trash:before {
  content: "\e020";
}
.glyphicon-repeat:before {
  content: "\e030";
}
.glyphicon-refresh:before {
  content: "\e031";
}
.glyphicon-lock:before {
  content: "\e033";
}
.glyphicon-map-marker:before {
  content: "\e062";
}
.glyphicon-check:before {
  content: "\e067";
}
.glyphicon-play:before {
  content: "\e072";
}
.glyphicon-pause:before {
  content: "\e073";
}
.glyphicon-stop:before {
  content: "\e074";
}
.glyphicon-forward:before {
  content: "\e075";
}
.glyphicon-eject:before {
  content: "\e078";
}
.glyphicon-remove-sign:before {
  content: "\e083";
}
.glyphicon-ok-sign:before {
  content: "\e084";
}
.glyphicon-remove-circle:before {
  content: "\e088";
}
.glyphicon-ok-circle:before {
  content: "\e089";
}
.glyphicon-ban-circle:before {
  content: "\e090";
}
.glyphicon-share-alt:before {
  content: "\e095";
}
.glyphicon-reply:before {
  content: "\e095";
  display: inline-block;
  transform: rotate(180deg);
}
.glyphicon-comment:before {
  content: "\e111";
}
.glyphicon-retweet:before {
  content: "\e115";
}
.glyphicon-link:before {
  content: "\e144";
}
.glyphicon-sort-by-attributes:before {
  content: "\e155";
}
.glyphicon-trends:before {
  content: "\e155";
  display: inline-block;
  transform: rotate(-90deg);
}
.glyphicon-log-out:before {
  content: "\e163";
}
.glyphicon-menu-hamburger:before {
  content: "\e236";
}
.glyphicon-menu-down:before {
  content: "\e259";
}
.glyphicon-menu-up:before {
  content: "\e260";
}