@import "./silm_reset.css";
#workspace {
	margin: 0 2px;
	min-width: 784px;
	display: flex;
	flex-flow: column nowrap;
}

.header_links {
	margin-top: 26px;
	display: flex;
	font-size: 0.7rem;
	height: 28px;
}

.header_link_left,
.header_link_right {
	flex: 1 10 auto;
	/* flex item from .header_links */
	display: flex;
	flex-flow: row nowrap;
	padding: 6px 0 2px;
}

.header_link_left {
	justify-content: flex-start;
	/* flex item from .header_link_left */
}

.header_link_right {
	justify-content: flex-end;
	/* flex item from .header_link_right */
}

.header_link_left > span,
.header_link_right > span {
	font-size: 1em;
	margin-right: 0.5em;
}

.header_link_right #view_twitter {
	width: 16px;
	height: 16px;
	margin: 0 2px;
}

.header_link_right silm-loadingicon {
	position: relative;
	left: -17px;
}

.timeline div.ui-resizable-se {
	bottom: -3px;
	right: -3px;
	width: 5px;
	height: 5px;
	background-image: none;
}

.inner_timeline {
	margin: 0;
	padding: 0;
	overflow: auto;
	overflow-x: hidden;
	position: relative;
}

/* #compose_tweet_area */

#compose_tweet_area {
	flex: 100 1 auto;
	/* flex item from silm-composer */
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
}

#attach_media_area {
	margin: 2px 0;
	padding: 0;
	flex: 0 1 auto;
	/* flex item from #compose_tweet_area */
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
}

#attach_media_area silm-loadingicon {
	margin: 4px 4px 0 0;
	flex: 0 1 auto;
	/* flex item from #compose_tweet_area */
}

#tweetit,
#attach_button {
	width: initial;
	max-width: 6em;
	margin-right: 0.2em;
	flex: 0 1 auto;
	/* flex item from #attach_media_area */
}

#upload_previews {
	margin: 0;
	padding: 0;
	flex: 100 1 auto;
	/* flex item from #attach_media_area */
	display: flex;
	flex-flow: row nowrap;
}

#upload_previews img {
	width: 24px;
	height: 24px;
	border-radius: 0.4em;
	margin: 0 0.4em;
	flex: 0 1 auto;
	/* flex item from #upload_previews */
}

#image_input {
	display: none;
}

#chars_left {
	flex: 0 1 auto;
	/* flex item from #attach_media_area */
}

#tweet_text {
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 5px;
	background-color: var(--main-bg-color);
	border: 1px solid var(--main-bd-color);
}

#compose_tweet {
	font-size: 9pt;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	color: #555;
	background-color: var(--main-bg-color);
	border: 1px solid var(--main-bd-color);
	padding: 3px;
}

#composeText {
	margin-left: 1em;
}

/* #compose_tweet */

#tabs {
	/*flex: 100 0 auto; /* flex item from #workspace */
}

#tabs .timeline_tab input.search_selector {
	width: 80px;
	font-size: 0.8em;
}

#tabs .update_modifier {
	border: 1px solid #ef9a9a !important;
	border-bottom: none !important;
}

.tweet_space {
}

.blindOut {
	transition-property: transform;
	transition-duration: 200ms;
	transition-timing-function: ease-out;
	transform: scaleY(0);
	transform-origin: 0 0;
}

.tweet {
	margin: 1px;
}

.tweet_overlay {
	border: 1px solid #e1e8ed;
	background-color: var(--main-bg-color);
	display: flex;
	flex-flow: row nowrap;
	border-radius: 5px;
	padding: 2px;
}

.first_container {
	display: flex;
	flex-flow: column nowrap;
	flex: 100 1 auto;
}

.retweets_container {
	font-size: 8pt;
	color: #999;
	margin: 0;
	padding: 0.5em;
	display: flex;
	flex-flow: row nowrap;
	order: 2;
}

.retweets_container > span {
	margin: 0 0.5em 0 0;
	flex: 0 1 auto;
}

.retweets_container > span,
.retweets_container > span > a {
	word-break: keep-all;
	color: #999;
}

.retweets_container > span.selfRetweet,
.retweets_container > span.inRetweet {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.retweets_container > span.inRetweet silm-usericon {
	margin: 0.1em 0.5em -0.2em 0;
}

.retweets_container > span.glyphicon {
	margin: 0.2em 0.5em -0.1em 0;
}

.retweets_container > span.action_cancel_retweet {
	cursor: pointer;
	color: var(--main-font-color);
}

.main_container {
	display: flex;
	flex-flow: row nowrap;
}

.icon_container {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 50%;
}

.content_container {
	display: flex;
	flex-flow: column nowrap;
	padding: 0 0.5em;
}

.name_container {
	display: flex;
	flex-flow: row wrap;
}

.name_container > span,
.name_container > div {
	margin-right: 0.5em;
}

.name_container > div.primary_name span.user,
.name_container > div.primary_name a {
	font-weight: 400;
	font-size: 0.99em;
}

.name_container > div.secondary_name,
.name_container > div.secondary_name a {
	color: #999;
}

.name_container > span.verifiedAccount,
.name_container > span.protectedAccount {
	top: 3px;
	left: -3px;
	opacity: 0.5;
}

.glyphicon-ok-sign:before {
	color: #77c7f7;
	background-color: white;
	border-radius: 50%;
}

.text_container {
	word-wrap: break-word;
	white-space: pre-wrap;
}

.footer_container {
	font-size: 8pt;
	margin-top: 4px;
	color: #999;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	margin-left: 2px;
}

.footer_container > span {
	margin: 0 0.5em 0 0;
	flex: 0 1 content;
	order: 2;
}

.footer_container > span,
.footer_container > span > a {
	word-break: keep-all;
	color: #999;
}

.footer_container > span.timestamp {
	order: 1;
}

.footer_container > span.inReply {
	order: 0;
	z-index: 2;
}

.footer_container > span.from_app,
.footer_container > span.from_list {
}

.footer_container > span > span.glyphicon {
	margin: auto 0.4em -0.2em auto;
}

.new_actions {
	margin: 0;
	padding: 0;
	width: 16px;
	display: flex;
	flex-flow: column wrap-reverse;
	align-items: flex-start;
	flex: 0 1 auto;
	min-width: 16px;
	position: absolute;
	right: 5px;
	max-height: 100%;
}

.tweet .new_actions > .new_actions_item {
	margin: 4px;
	padding: 0;
	font-size: 12px;
	cursor: pointer;
	display: none;
}

.tweet:hover .new_actions > .new_actions_item {
	display: inline-block;
}

.tweet .new_actions > span.glyphicon-heart {
	display: inline-block;
}

/* override jQuery UI Structre*/

.ui-tabs-nav,
.tweet_space,
.tweet,
.timestamp,
.footer_container,
.text_container,
.new_actions {
	contain: content;
}

.timeline,
.inner_timeline,
.header_links,
silm-usericon {
	contain: strict;
}

silm-composer[composed="true"] {
	height: auto !important;
	display: block !important;
}

.pointer-events-none {
	pointer-events: none;
}

.header_link_right {
	position: relative;
}

.retweets_container > span.inRetweet > a {
	margin-left: 3px;
}

.ui-tabs .ui-tabs-panel {
	padding: 0;
	margin-right: -7px;
}

.ui-tabs .ui-tabs-nav {
	padding: 0;
}

.ui-tabs .ui-tabs-nav > li {
	min-width: 6em;
	margin: 1px 0 0;
	text-align: center;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	padding: 0.2rem;
	float: initial;
	display: block;
}

/* override jQuery UI Tooltip */

.ui-tooltip {
	background-color: black;
	margin: 0;
	padding: 0;
}

.ui-tooltip > .ui-tooltip-content {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.ui-tooltip > .ui-tooltip-content,
.ui-tooltip > .ui-tooltip-content > p {
	color: white;
	word-break: break-all;
}

.ui-tooltip > .ui-tooltip-content > p {
	padding: 5px;
	min-width: 50px;
	min-height: 1em;
	max-width: 300px;
	max-height: 2em;
}

.ui-tooltip > .ui-tooltip-content > img,
.ui-tooltip > .ui-tooltip-content > video {
	min-width: 100px;
	min-height: 50px;
	max-width: 300px;
	max-height: 200px;
	margin-bottom: -5px;
	/* magic 5px */
}

.ui-widget-shadow {
	opacity: 1;
}

/* override jQuery UI Dialog */

.ui-dialog .ui-dialog-titlebar-close {
	display: none;
}

/* override jQuery UI Theme*/

.ui-widget-header {
	border: none;
	border-bottom: solid 1px var(--main-bd-color);
	border-radius: 0;
	background: transparent none;
	line-height: 1.6;
}

.ui-widget-content {
	/*color: rgb(34, 34, 34);*/
	/*color: rgb(20, 30, 34);*/
	color: #292f33;
	font-family: inherit;
}

.ui-tabs {
	padding: 0;
}

.ui-tabs .ui-tabs-nav {
	padding-top: 0;
	padding-left: 0;
	margin-left: -1px;
	margin-top: -2px;
}

.ui-widget-content .name_container a {
	color: #666;
}

.ui-widget-content .text_container a {
	color: #664;
}

.text_container a[data-handle-hash-tag] {
	color: #333;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #555;
}

.ui-state-active,
.ui-widget-header .ui-state-active {
	border: solid 1px var(--main-bd-color);
	background: transparent none;
	font-weight: normal;
	color: #555;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited,
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
	color: #555;
}

.inReply:before {
	content: "\e095";
	display: inline-block;
	/*transform: rotate3d(1, 0, 0, 180deg);*/
	z-index: 3;
	position: relative;
	top: 1px;
	font-family: 'Glyphicons Halflings' !important;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
	width: 8px;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 100px;
	/*transition: background-color 1s linear;*/
}

::-webkit-scrollbar:horizontal {
	height: 8px;
}

/* hover effect for both scrollbar area, and scrollbar 'thumb' */

::-webkit-scrollbar:hover {
	background-color: rgba(0, 0, 0, 0.07);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */

::-webkit-scrollbar-thumb {
	/*transition: background-color 1s linear;*/
}

::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 100px;
	background-clip: padding-box;
	border: 2px solid rgba(0, 0, 0, 0);
	min-height: 30px;
}

::-webkit-scrollbar-thumb:vertical:active,
::-webkit-scrollbar-thumb:horizontal:active {
	background-color: rgba(0, 0, 0, 0.51);
	/* Some darker color when you click it */
	border-radius: 100px;
}
