:root {
	--main-font-color: #292f33;
	--main-bg-color: #f4f4f4;
	--main-bd-color: #c5c5c5;
	--hover-bg-color: #ededed;
	--silm-main-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans Japanese", "Roboto", Helvetica, Arial, sans-serif;
	--silm-emoji-fonts: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "Noto Emoji", Symbola;
	--twitter-retweet-color: #19cf86;
	--twitter-like-color: #e81c4f;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	color: var(--main-font-color);
	font-family: var(--slim-main-fonts), var(--silm-emoji-fonts) !important;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.5;
	overflow: hidden;
}

*,
:before,
:after {
	box-sizing: border-box;
}

a {
	color: #665;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input[type='text'] {
	margin: 0;
	border-radius: .4em;
	border: 1px solid var(--main-bd-color);
	line-height: 1.3;
}

.material-icons {
	font-family: "Material Icons" !important;
	font-size: inherit;
	font-weight: 600;
}
