select.ss_overriden {
  display: none;
}

div.simple_select {
  z-index: 99999;
}

div.simple_select .label {
  margin: 0;
  padding: 0;
  color: #555;
  display: flex;
  flex-flow: raw nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

div.simple_select .options_area {
  display: none;
  position: absolute;
  overflow: hidden;
  z-index: 99999;
  border: 1px solid #D9D9D9;
  background-color: #FFFFFF;
  left: 8px;
  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.5);
}

div.simple_select ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div.simple_select .options_area ul li {
  float: initial; /* Override jQuery UI */
  display: inherit;
  position: inherit;
  border: 0;
  margin: 0;
  padding: .1em .5em;
  cursor: pointer;
  color: var(--main-font-color);
  text-align: center;
}

div.simple_select .options_area ul li:hover {
  background-color: rgb(232, 232, 232);
  color: var(--main-font-color);
}

div.simple_select ul li.selected {
  background-color: rgb(64, 64, 64);
  color: white;
}
